@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500&display=swap');

:root {
    --main-color: #09262F;
    --bright-color: #A7BFD5;
    --icon-hover-color: #3b5998;
    --seperate_line-color: #294652;
    --text-color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Darker Grotesque', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: var(--main-color) !important;
}


/* * * * * * * * * * * * * * * *


Main Section:


* * * * * * * * * * * * * * * * */

ul {
    padding: 0!important;
}

.spacer {
    background-color: var(--main-color);
    padding: 40px;
    margin-top: 50px;
    border-top: 3px solid #294652;
    border-radius: 3em;
    box-shadow: 0 -40px 30px #071e26;
    place-items: center;
    text-align: center;
}

.about_us_text {
    background-color: var(--main-color);
    padding: 40px;
    font-size: 1.5em;
    color: var(--text-color);
}

#about_logo_desktop {
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 30px;
}

#about_logo_mobile {
    display: none;
    height: 100%;
    width: 100%;
    border-radius: 30px;
}

.team_spacer {
    border-top: 3px solid #294652;
}

.about_us_team_header {
    color: var(--text-color);
    font-size: 4em;
    margin-top: 30px;
}

.about_us_team1 {
    display: grid;
    grid-template-columns: auto auto;
    color: var(--text-color);
    padding: 100px;
}

.about_us_team2 {
    display: grid;
    grid-template-columns: auto auto auto;
    color: var(--text-color);
    margin-bottom: 30px;
    padding: 100px;
}

.about_border {
    border: 3px solid #294652;
}

.team_person_img {
    height: auto;
    width: auto;
    max-height: 250px;
    max-width: 250px;
}

.about_name {
    font-size: 1.75em;
}

.about_description {
    font-size: 1.25em;
}

.about_us_programmers {
    background-color: var(--main-color);
    padding: 20px;
    font-size: 1.25em;
    color: var(--text-color);
    text-align: center;
}


/* * * * * * * * * * * * * * * *


Media Query for Mobile


* * * * * * * * * * * * * * * * */



@media (max-width: 800px) {


    /* * * * * * * * * * * * * * * *


    Navigation Bar


    * * * * * * * * * * * * * * * * */

    #navbar {
        position: fixed;
        bottom: -100%;
        right: 0;
        width: 100%;
        transition: 0.5s;
        display: block;
        justify-content: right;
        align-items: center;
        background-color: var(--main-color);
        opacity: 0.8;
    }

    #navbar.active {
        height: calc(100vh - 100px);
        bottom: 0;
        width: 100%;
        left: 0;
        text-align: center;
        justify-content: center;
    }

    #navbar ul {
        flex-direction: column;
        justify-content: right;
        align-items: center;
    }

    #navbar ul li a {
        color: var(--bright-color);
        font-size: 25px;
    }

    .about_us_text {
        font-size: 1.25em;
        padding: 25px;
    }

    #about_logo_mobile {
        display: flex;
    }

    #about_logo_desktop {
        display: none;
    }

    .about_us_programmers {
        font-size: 1em;
    }
}
