@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500&display=swap');

:root {
    --main-color: #09262F;
    --bright-color: #A7BFD5;
    --icon-hover-color: #3b5998;
    --seperate_line-color: #294652;
    --text-color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Darker Grotesque', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: var(--main-color) !important;
}


/* * * * * * * * * * * * * * * *


Main Section:


* * * * * * * * * * * * * * * * */

ul {
    padding: 0!important;
}

main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    font-size: 34px;
}


/* * * * * * * * * * * * * * * *


Media Query for Mobile


* * * * * * * * * * * * * * * * */



@media (max-width: 800px) {


    /* * * * * * * * * * * * * * * *


    Navigation Bar


    * * * * * * * * * * * * * * * * */

    #navbar {
        position: fixed;
        bottom: -100%;
        right: 0;
        width: 100%;
        transition: 0.5s;
        display: block;
        justify-content: right;
        align-items: center;
        background-color: var(--main-color);
        opacity: 0.8;
    }

    #navbar.active {
        height: calc(100vh - 100px);
        bottom: 0;
        width: 100%;
        left: 0;
        text-align: center;
        justify-content: center;
    }

    #navbar ul {
        flex-direction: column;
        justify-content: right;
        align-items: center;
    }

    #navbar ul li a {
        color: var(--bright-color);
        font-size: 25px;
    }
}
