@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500&display=swap');

:root {
    --main-color: #09262F;
    --bright-color: #A7BFD5;
    --icon-hover-color: #3b5998;
    --seperate_line-color: #294652;
    --club-color: #A7BFD4;
    --text-color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Darker Grotesque', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: var(--main-color) !important;
}

.grid-container-first {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: var(--main-color);
    padding: 40px;
    margin-top: 50px;
    border-top: 3px solid #294652;
    border-radius: 3em;
    box-shadow: 0 -40px 30px #071e26;
    place-items: center;
}

.grid-container-bright {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: var(--seperate_line-color);
    padding: 40px;
    border-top: 3px solid var(--seperate_line-color);
    border-radius: 1em;
    place-items: center;
}

.grid-container-dark {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: var(--main-color);
    padding: 40px;
    border-top: 3px solid var(--main-color);
    border-radius: 1em;
    place-items: center;
}

.grid-container > div {
    text-align: center;
    padding: 20px 0;
    color: var(--text-color);
}

.service_img {
    height: auto;
    width: auto;
    max-width: 300px;
    max-height: 300px;
    border-radius: 30px;
}

.service-description {
    font-size: 1.25em;
    color: var(--text-color);
    padding-right: 50px;
}

.service_header {
    font-size: 2em;
}

.contact-button:hover {
    color: var(--text-color);
}

/* * * * * * * * * * * * * * * *

Contact Sheet

* * * * * * * * * * * * * * * * */

.container{
    padding: 20px 100px;
    color: var(--text-color);
    text-align: center;
}

form {
    max-width: 850px;
    display: flex;
    flex-basis: 50%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 2em;
    margin-right: auto;
    margin-left: auto;
}

.field{
    width: 49%;
    border: 2px solid var(--text-color);
    border-radius: 30px;
    outline: none;
    background-color: var(--main-color);
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
    color: var(--text-color);
}

textarea {
    width: 100% !important;
}

.field:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

textarea{
    min-height: 150px;
}

form .btn {
    width: 50%;
    padding: 0.5rem 1rem;
    background-color: var(--text-color);
    color: var(--main-color);
    font-size: 2rem;
    border: 2px solid var(--text-color);
    border-radius: 30px;
    margin-right: auto;
}

.btn:hover{
    background-color: #27ae60;
}

.field:focus{
    border: 2px solid rgba(30,85,250,0.47);
}

@media only screen and (min-width: 600px) {

    .searchList {
        width: 90%;
        margin-left: auto;
        margin-right: auto;

        border: solid #F8F26D 2px;
        border-radius: 2em;

        display: grid;
        grid-template-areas:
            "item1 item2 item3";

        justify-content: center;

    }

    .element1 {
        grid-area: item1;
    }

    .element2 {
        grid-area: item2;
    }

    .element3 {
        grid-area: item3;
    }

    .searchElement {
        margin: 2em;
        border: none;
    }

    /*region Search Button*/
    #searchButton:hover {
        color: #071e26;
        background-color: #F8F26D;
    }

    #searchButton:active {
        color: #F8F26D;
        background-color: #858238;
    }
    /*endregion*/

    /*region Event Item*/
    .wallPaper {
        width: 25%;
        height: 18em;
        border-radius: 3em;
        background-color: #F8F26D;

        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .name {
        margin: 0.5em 0.2em 0 40%;
    }

    .detailsButton:hover {
        color: #071e26;
        background-color: #F8F26D;
    }

    .detailsButton:active {
        background-color: #858238;
        color: #F8F26D;
    }

    .infoLabel {
        margin: 0.5em 0 0 40%;
    }
    /*endregion*/
}



/* * * * * * * * * * * * * * * *

Media Query for Mobile

* * * * * * * * * * * * * * * * */



@media (max-width: 800px) {


    /* * * * * * * * * * * * * * * *

    Navigation Bar

    * * * * * * * * * * * * * * * * */

    #navbar {
        position: fixed;
        bottom: -100%;
        right: 0;
        width: 100%;
        transition: 0.5s;
        display: block;
        justify-content: right;
        align-items: center;
        background-color: var(--main-color);
        opacity: 0.8;
    }

    #navbar.active {
        height: calc(100vh - 100px);
        bottom: 0;
        width: 100%;
        left: 0;
        text-align: center;
        justify-content: center;
    }

    #navbar ul {
        flex-direction: column;
        justify-content: right;
        align-items: center;
    }

    #navbar ul li a {
        color: var(--bright-color);
        font-size: 25px;
    }

    /* * * * * * * * * * * * * * * *

    Inhalt

    * * * * * * * * * * * * * * * * */

    .grid-container-first {
        display: grid;
        grid-template-columns: 100%;
        background-color: var(--main-color);
        margin-top: 50px;
        border-top: 3px solid #294652;
        border-radius: 3em;
        box-shadow: 0 -40px 30px #071e26;
    }

    .grid-container-bright {
        display: grid;
        grid-template-columns: 100%;
        background-color: var(--seperate_line-color);
        border-top: 3px solid var(--seperate_line-color);
        border-radius: 1em;
    }

    .grid-container-dark {
        display: grid;
        grid-template-columns: 100%;
        background-color: var(--main-color);
        border-top: 3px solid var(--main-color);
        border-radius: 1em;
    }

    .service-description {
        text-align: center;
        padding-right: 0;
    }

    /* * * * * * * * * * * * * * * *

    Kontaktformular

    * * * * * * * * * * * * * * * * */

    form .btn {
        font-size: 1rem;
    }
}
